<div class="row">
  <div class="col-md-100">

    <!-- form-group form-control control-label ↓↓↓↓↓↓↓↓↓ -->
    <div>
      <card cardTitle="Contents" isCollapse="true">
        <div class="form-group">
          <div class="search-group">
            <input type="text" class="search-input" placeholder="Search For ID · · ·">
            <button class="search-btn">
              <i class="fa fa-search fa-fw"></i>
            </button>
          </div>
          <label class="control-label">Menu</label>
          <input type="text" class="form-control" placeholder="Menu">
          <label class="control-label">Sub Menu</label>
          <input type="text" class="form-control" placeholder="Sub Menu">
          <label class="control-label">Heading</label>
          <input type="text" class="form-control" placeholder="Heading">
          <label class="control-label">Contents</label>
          <textarea cols="0" rows="10" class="form-control" placeholder="Contents"></textarea>
          <label class="control-label">Program</label>
          <textarea cols="0" rows="10" class="form-control" placeholder="Program"></textarea>
          <label class="control-label">Contents</label>
          <input type="text" class="form-control" placeholder="Contents">
          <label class="control-label">Program</label>
          <input type="text" class="form-control" placeholder="Program">
          <button class="btn btn-default">Default</button>
        </div>
      </card>
    </div>

  </div>

</div>